crewai
crewai-tools
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
groq
langchain_google_genai
langchain_groq
markdown~=3.7
protobuf~=5.28.1
python-dotenv~=1.0.1
requests~=2.32.3
