crewai
crewai-tools
google-api-python-client
google-auth
google-auth-httplib2
google-auth-oauthlib
google-generativeai
groq
langchain_google_genai
langchain_groq
markdown
protobuf
python-dotenv
requests
